
/* header */
header {
    position: relative;
    width: 100%;
    z-index: 9;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    height: 324px;
    width: 100%;
    display: flex;
    justify-content: center;
}
header::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .6;
}
.header-wrapper {
    position: absolute;
    max-width: 1130px;
    width: 90%;
    height: 60px;
    padding-top: 30px;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font: 14px 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
}
.nav-wrapper {
    width: 55%;
}
.list {
    display: flex;
    justify-content: space-between;
}
.nav-a {
    font: 12px 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 4px;
    text-transform: uppercase;
    color: #fff;
}
.active {
    color: #5863F8;
}
.burger-bar {
    display: none;
    font-size: 30px;
    color: #fff;
}
/* contact title */
.contact-text {
    position: absolute;
    top: 145px;
    max-width: 1130px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
}
.contact-text h2 {
    font: 42px 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
}
.contact-text ul {
    margin-top: 14px;
    display: flex;
    align-items: center;
    font: 14px 'Poppins', sans-serif;
}
.contact-text a {
    font: 14px 'Poppins', sans-serif;
    color: #fff;
    text-transform: capitalize;
}
.devider {
    display: flex;
    align-items: center;
}
.devider::after {
    content: '';
    display: inline-block;
    height: 19px;
    width: 1px;
    margin: 0 14px;
    background-color: #fff;
}
/* top section */
.map {
    position: relative;
    height: 286px;
    max-width: 1130px;
    width: 90%;
    margin: 50px auto 0;
}
.google-map {
    position: absolute;
}
.map::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .3;
    transition: all .3s linear;
}
.map:hover::after {
    display: none;
}
.input-wrapper {
    max-width: 1130px;
    width: 90%;
    margin: 56px auto 0;
}
.title-box h4 {
    font: 14px 'Poppins', sans-serif;
    font-weight: bold;
    color: #5863F8;
    text-transform: uppercase;
}
.title-box h3 {
    max-width: 378px;
    width: 100%;
    font: 42px 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 56px;
}
/* form section */
.form-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.left-inp {
    width: 66%;
}
.text-box {
    height: 288px;
    width: 100%;
    padding: 20px;
    background-color: #F8F8F8;
    font: 14px 'Poppins', sans-serif;
    border: 2px solid #E8E8E8;
}
.right-inp {
    width: 32%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.input-block {
    height: 60px;
    padding: 20px;
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
}
.input-block::placeholder,
.text-box::placeholder {
    font: 13px 'Poppins', sans-serif;
    color: #CECECE;
}
.input-block:focus,
.text-box:focus {
    outline: none;
}
.send-button {
    background-color: #5863F8;
    color: #fff;
    font: 14px 'Poppins', sans-serif;
}
.paper-plane {
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}
/* email, phone and location box */
.blue-circles-wrapper {
    max-width: 1130px;
    width: 90%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}
.three-blocks {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.three-blocks h5 {
    margin-top: 15px;
    font: 18px 'Poppins', sans-serif;
    font-weight: 600;
}
.three-blocks li {
    text-align: center;
}
.three-blocks a {
    text-align: center;
    font: 14px 'Poppins', sans-serif;
    color: #B1B1B1;
}
.blue-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #5863F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon {
    color: #fff;
    font-size: 24px;
}
/* botton section */
.title-box-wrapper {
    max-width: 1130px;
    width: 90%;
    margin: 90px auto 0;
}
.title-box2 h4 {
    font: 14px 'Poppins', sans-serif;
    font-weight: bold;
    color: #5863F8;
    text-transform: uppercase;
}
.title-box2 h3 {
    max-width: 570px;
    width: 100%;
    font: 42px 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 56px;
}
.image-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.image-wrap {
    width: 28%;
    /* height: 352.8px; */
}
.image-wrap img {
    width: 100%;
    display: block;
}
/* footer */
footer {
    padding: 90px 0 40px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-wrapper {
    max-width: 1060px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-text-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-text-block {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-text-block:nth-child(1) h4 {
    width: 260px;
    font: 24px 'Poppins', sans-serif;
    color: #fff;
    font-weight: bold;
}
.footer-text-block:nth-child(1) p {
    width: 260px;
    font: 14px 'Poppins', sans-serif;
    color: #B1B1B1;
}
.footer-icons {
    width: 126px;
    display: flex;
    justify-content: space-between;
}
.icon-size {
    font-size: 35px;
}
.fa-facebook {
    color: #3B5998;
}
.fa-twitter-square {
    color: #55ACEE;
}
.fa-google-plus-g {
    color: #DC4E41;
}
.footer-text-block:nth-child(2),
.footer-text-block:nth-child(3),
.footer-text-block:nth-child(4) {
    height: 155px;
}
.footer-text-block:nth-child(2) h5,
.footer-text-block:nth-child(3) h5,
.footer-text-block:nth-child(4) h5 {
    font: 18px 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}
.footer-text-block:nth-child(2) ul,
.footer-text-block:nth-child(3) ul,
.footer-text-block:nth-child(4) ul {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-blue-li {
    color: #5863F8;
    font: 14px 'Poppins', sans-serif;
}
.footer-white-li {
    color:#fff;
    font: 14px 'Poppins', sans-serif;
}
.footer-envelope,
.footer-phone,
.footer-dot {
    color: #5863F8;
}
.footer-copyright {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-copyright p {
    font: 14px 'Poppins', sans-serif;
    color: #fff;
    font-weight: 200;
}
.footer-copyright a {
    font: 14px 'Poppins', sans-serif;
    color: #5863F8;
    font-weight: 200;
}